body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 /*-- Register ---*/
.register-wrapper{
  height: 100vh;
  background: linear-gradient(120deg, #f6f9fc,#e9f0ff);
}

.register-form{
  background-color: white;
  width: 100%;
  max-width: 400px;
}

 /*-- Login ---*/
.login-wrapper{
  height: 100vh;
  background: linear-gradient(120deg, #f6f9fc,#e9f0ff);
}
.login-form{
  background-color: white;
  width: 100%;
  max-width: 400px;
}

/*-- MObile page ---*/
.product-list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card{
  flex: 1 1 calc(25% - 20px);
  max-width: calc(25% - 20px );
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  transition: transform 0.2s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: 250px;
  object-fit: contain;
  background-color: #f9f9f9;
}

.product-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-name{
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
  min-height: 40px;
}

.product-description {
  flex-grow: 1;
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 10px;  
}

.product-price {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  margin-top: auto;
}

.product-card:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.12);
    transform: translateY(-2px);
}